<!-- BEGIN: SPOT VIDEO -->
<div class="c-center">
    <div class="col-md-12" style="padding: 0 !important;">
        <div class="c-content-media-2-slider" data-slider="owl">
            <div class="video-wrap">
        <img src="{{ asset('build/web/static/bg_full_page_new_2021.jpg') }}" alt=""
                        srcset="{{ asset('build/web/static/bg_full_page_new_2021.jpg') }} 1280w,
            {{ asset('build/web/static/bg_full_page_new_2021.jpg') }} 1024w,
            {{ asset('build/web/static/bg_full_page_new_2021.jpg') }} 640w,
            {{ asset('build/web/static/bg_full_page_new_2021.jpg') }} 320w"
                        sizes="(min-width: 1180px) 1180px, 100vw"
            </div>
        </div>
    </div>
</div>
<!-- END: SPOT VIDEO -->

